// VERTICAL RHYTHM
$base-font-size: 16px;
$base-line-height: 24px;
$default-rhythm-border-style: solid;
$relative-font-sizing: true;
$round-to-nearest-half-line: false;

// GRID
$total-columns: 8;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$show-grid-backgrounds: false;

// BREAKPOINTS
$tablet: 10;
$computer: 12;
